#!/usr/sbin/nft -f

{% for table in nftables_tables %}
table {{ table.table }} {
{% for filename in table.includes %}
    include "{{ filename }}"
{% endfor %}

{% for chain, lines in table.chains.items() %}
    chain {{ chain }} {
{% for line in lines %}
        {{ line }}
{% endfor %}
    }
{% endfor %}
}
{% endfor %}
