{{ ansible_managed | comment }}

{% for section, configs in item.config.items() %}
[{{ section }}]
{% for k, v in configs.items() %}
{% if v is string or v is not iterable %}
{{ k }}={{ v }}
{% else %}
{% for vv in v %}
{{ k }}={{ vv }}
{% endfor %}
{% endif %}

{% endfor %}
{% endfor %}
