[Interface]
Address = {{ wireguard_interface.address }}
PrivateKey = {{ wireguard_interface.private_key }}
{% if "listen_port" in wireguard_interface %}
ListenPort = {{ wireguard_interface.listen_port }}
{% endif %}

{% for peer in wireguard_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% if "preshared_key" in peer %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
{% if "endpoint" in peer %}
Endpoint = {{ peer.endpoint }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if "persistent_keepalive" in peer %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}

{% endfor %}
